<?xml version="1.0"?>
<config>
    <modules>
        <ThdSolution_RadiusDistance>
            <version>0.1.0</version>
        </ThdSolution_RadiusDistance>
    </modules>
    <global>
        <models>
            <thdsolution_radiusdistance>
                <class>ThdSolution_RadiusDistance_Model</class>
                <resourceModel>thdsolution_radiusdistance_resource</resourceModel>
            </thdsolution_radiusdistance>
            <thdsolution_radiusdistance_resource>
                <class>ThdSolution_RadiusDistance_Model_Resource</class>
            </thdsolution_radiusdistance_resource>
        </models>
        <blocks>
            <thdsolution_radiusdistance>
                <class>ThdSolution_RadiusDistance_Block</class>
            </thdsolution_radiusdistance>
        </blocks>
        <helpers>
            <thdsolution_radiusdistance>
                <class>ThdSolution_RadiusDistance_Helper</class>
            </thdsolution_radiusdistance>
        </helpers>
    </global>
    <frontend>
        <routers>
            <thdsolution_radiusdistance>
                <use>standard</use>
                <args>
                    <module>ThdSolution_RadiusDistance</module>
                    <frontName>radius</frontName>
                </args>
            </thdsolution_radiusdistance>
        </routers>
    </frontend>
</config>